<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ciudad">

    <select id="obtenerPorId" resultType="pojo.Ciudad">
        SELECT idCiudad, nombre, idEstado
        FROM ciudad
        WHERE idCiudad = #{idCiudad};
    </select>
    
    <select id="obtenerPorIdEstado" resultType="pojo.Ciudad">
        SELECT idCiudad, nombre, idEstado
        FROM ciudad
        WHERE idEstado = #{idEstado};
    </select>
    
    <select id="obtenerPorIdYIdEstado" resultType="pojo.Ciudad" parameterType="map">
        SELECT idCiudad, nombre, idEstado
        FROM ciudad
        WHERE idCiudad = #{idCiudad}
        AND idEstado = #{idEstado};
    </select>

</mapper>