<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.EstadoUnidadMapper">

    <!-- Obtener catálogo de estados de unidad -->
    <select id="obtenerTodos" resultType="pojo.EstadoUnidad">
        SELECT 
            idEstadoUnidad, 
            nombre 
        FROM EstadoUnidad
        ORDER BY nombre ASC;
    </select>

</mapper>