<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sucursal" >
    
    <select id="obtenerSucursales" resultType="pojo.Sucursal">
        SELECT idSucursal, codigoSucursal, nombre, estatus, calle, numero, colonia, codigoPostal, ciudad, estado
        FROM sucursal;
    </select>

    
    <insert id="registrar" parameterType="pojo.Sucursal">
        INSERT INTO sucursal ( codigoSucursal, nombre, estatus, calle, numero, colonia, codigoPostal, ciudad, estado ) 
        VALUES ( #{codigoSucursal}, #{nombre}, #{estatus}, #{calle}, #{numero}, #{colonia}, #{codigoPostal}, #{ciudad}, #{estado} );
    </insert>
    
    <update id="editar" parameterType="pojo.Sucursal">
        UPDATE sucursal
        SET nombre = #{nombre},
            calle = #{calle},
            numero = #{numero},
            colonia = #{colonia},
            codigoPostal = #{codigoPostal},
            ciudad = #{ciudad},
            estado = #{estado}
        WHERE idSucursal = #{idSucursal};
    </update>
    
    <select id="obtenerSucursalPorId" resultType="pojo.Sucursal">
        SELECT idSucursal, codigoSucursal, nombre, estatus, calle, numero, colonia, codigoPostal, ciudad, estado
        FROM sucursal
        WHERE idSucursal = #{idSucursal};
    </select>
    
    <update id="actualizarEstatus" parameterType="pojo.Sucursal">
        UPDATE sucursal
        SET estatus = #{estatus}
        WHERE idSucursal = #{idSucursal};
    </update>
    
</mapper>

